body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #545454;
}

.member-block {
    border: 2px solid #b1b1b1;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    width: 30%;
}

.member-name, .member-area {
    display: block;
    margin: 10px;
    text-align: center;
}

.member-name {
    font-weight: 600;
}


.member-block:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 200ms;
    background-color: teal;
    color: white;
}

.members-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members-list h1 {
    text-align: center;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: #0000008c;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.calender {
    margin-top: 20px;
}

.note {
    display: block;
    margin: 5px;
    font-size: 10px;
}

.react-datepicker__input-container input {
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

.modal-window {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.activity-shifts {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.modal-window-name {
    font-weight: 600;
}

.shift-range {
    margin: 10px;
    font-style: italic;
    font-weight: 600;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 900;
    font-size: 12px;
}

.close-button:hover {
    cursor: pointer;
    transition: all 200ms;
    transform: scale(1.05);
    color: red;
}

.load {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: calc(50% - 77.5px);
    width: 100%;
    justify-content: center;
}

.loading {
    font-size: 40px;
    font-weight: 900;
    margin-top: 30px;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #545454;
    border-bottom: 10px solid #545454;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media(max-width: 768px) {
    .container {
        margin: 10px;
    }

    .member-block {
        width: 90%;
        margin: 20px 0px;
        padding: 15px 0px;
    }

    .member-block:hover {
        transform: unset;
    }

    .modal-window {
        margin: 10px;
    }

    .members-list {
        overflow-y: auto;
    }

    .activity-shifts {
        overflow: auto;
        max-height: 325px;
    }
}